#schedules-index a{
  font-size: 2em;
}

#schedules-index a:visited {
  color: blue 
}

#schedules-index table th {
  text-align : center;
}

#schedules-index table td {
  text-align : center;
  padding : 3px 10px;
}

